@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-gray-100 font-roboto;
	}

	button,
	input,
	a:focus,
	button:focus,
	input:focus,
	:focus {
		outline: outline-none;
	}

	a::-moz-focus-inner,
	button::-moz-focus-inner,
	input::-moz-focus-inner,
	::-moz-focus-inner {
		border: border-0;
	}

	:focus {
		outline: none;
	}

	::-moz-focus-inner {
		border: 0;
	}

	.markdown {
		@apply break-words [&>*]:mb-4;

		h1 {
			@apply mb-4 text-3xl font-bold;
		}

		h2 {
			@apply mb-3 text-2xl font-semibold;
		}

		h3 {
			@apply mb-2 text-xl font-medium;
		}

		h4 {
			@apply mb-1.5 text-lg font-medium;
		}

		h5 {
			@apply mb-1 text-base font-medium;
		}

		p {
			@apply mb-4;
		}

		br {
			@apply my-2;
		}

		a {
			@apply text-blue-500 underline;
		}

		a:hover {
			@apply text-blue-700;
		}

		a:visited {
			@apply text-violet-800 underline;
		}

		ul {
			@apply list-disc pl-6;
		}

		ol {
			@apply list-decimal pl-6;
		}

		li {
			@apply mb-2 text-gray-700;
		}

		table {
			@apply min-w-full border-collapse bg-white;
		}

		thead {
			@apply bg-gray-200;
		}

		th {
			@apply border-b border-gray-300 px-4 py-2 text-left text-gray-700;
		}

		tbody {
			@apply bg-white;
		}

		td {
			@apply border-b border-gray-200 px-4 py-2;
		}

		tr {
			@apply border-b border-gray-200;
		}
	}

	ul,
	ol {
		list-style: unset;
	}

	ol {
		@apply list-decimal;
	}
}

.w-md-editor {
	@apply p-0;
}
